.dropdown {
    position: relative;
    background-color: rgb(86, 165, 12);

}

.dropdown-content {
    overflow-y: auto;
    display: none;
    position: absolute;
    background-color: aqua;
    width: 80vw;
    margin-left: 10vw;
    animation: fadeIn 0.5s ease-in-out;
    max-height: 1580%;
}

.vehicleDiv {
    background-color: rgb(0, 255, 0);
    width: 60vw;
    margin-left: 10vw;
    padding: 3vw;
    margin-bottom: 3vh;
}

.vehicleImage {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 3vw;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
