:root {
    --background-gradient-start: rgb(27, 27, 27);
    --background-gradient-end: #060c3d;
    --border-radius: 15px; /* Adjusted border-radius */
    --menu-bg-color: rgba(257, 57, 57, 0.2);
    --accent-color: rgba(48, 50, 56, 255);
    --button-border-radius: 5px;
    --button-font-size: 16px;
    --button-hover-translateY: 10px;
    overflow: hidden;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    height: 100vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    background-image: linear-gradient( var(--background-gradient-start), var(--background-gradient-end) 140%);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .Main-Block {
    background-image: linear-gradient( var(--background-gradient-start), var(--background-gradient-end) 180%);
  }

  .Main-Top {
    background-color: transparent;
    height: 2vh;
  }
  
  .Main-Header {
    position: relative;
    background-color: rgba(54, 54, 54, 0.611);
    margin-left: 20%;
    padding-top: 2vh;
    width: 60vw;
    height: 7vh;
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: underline;
    color: #2C70B3;
    font-size: 5vw;
    
    margin-bottom: 3vh;
  }
  
  .loadingScreen {
    display: ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(var(--background-gradient-start), var(--background-gradient-end) 180%);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: 0.5s;
}

.loadingScreen p {
    color: #C9C9C9;
    text-align: center;
    font-size: 10vw;
    margin: 0;
}

.loadingScreen-hide {
    opacity: 0;
    pointer-events: none;
    z-index: -9999;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

  .Main-Body  {
    height: 80vh;
    color:#ffffff;
    text-align: center;
  }

  .Servers-Box-Outer {
    border-radius: var(--border-radius);
    border: 2px #fff solid;
    background-color: rgba(44, 44, 44, 0.538);
    height: fit-content;
    width: 80vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
}

  .ServerData-Title {
    color: rgba(255, 255, 255, 0.712);
    font-size: 4vh;
    text-align: center;
    text-decoration: underline;
}

.ServerData-SubTitle {
  color: rgba(255, 255, 255, 0.712);
  font-size: 3vw;
  white-space:nowrap;
  overflow: hidden;
  text-align: center;
  text-decoration: underline;
}

  .ServerBoxesWrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
  }

  .ServerData-Servers {
    padding-left: 3vh;
    padding-right: 2vh;
    padding-bottom: 3vh;
    color: white;
    width: 48%;
    height: fit-content;
}

  .ServerData-Servers h3 {
    margin-bottom: 3vh;
    font-size: 3vh;
    text-align: left;
    padding-left: 0px;
}